<ion-view title="Account">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <form name="userForm" ng-submit="saveUser()">
    <ion-content class="has-header signUpForm has-footer t52">

      <div class="pad10 loginform">

        <div class="rel">
          <label class=" item-input top-0">
        <input type="text" placeholder="Full Name"  ng-model="signupForm.name"  name="name" required disabled>
        </label>
          <i class="ion ion-locked lockIcon"></i>
        </div>
        <div class="rel">
          <label class=" item-input">
            <input type="email" placeholder="Email ID" ng-model="signupForm.email" name="email" required disabled>
          </label>
          <i class="ion ion-locked lockIcon"></i>
        </div>


        <div class="rel">
          <label class=" item-input">
            <input type="text" placeholder="Mobile Number" ng-model="signupForm.registerMobile" name="registerMobile"   required disabled>
          </label>
          <i class="ion ion-locked lockIcon"></i>

        </div>
        <div class="rel" ng-if="signupForm.landline">
          <label class=" item-input">
            <input type="text" placeholder="Landline Number" ng-model="signupForm.landline" name="landline"  required disabled>
          </label>
          <i class="ion ion-locked lockIcon"></i>
        </div>

        <div class="rel">
          <label class=" item-input">
            <input type="text" placeholder="Delivery Address " ng-model="signupForm.deliveryAddress" name="deliveryAddress"  required disabled>
          </label>
          <i class="ion ion-locked lockIcon"></i>
        </div>

        <div class="rel">
          <label class=" item-input">
            <input limit-to="6"  type="number" placeholder="Pincode"  ng-model="signupForm.pinCode" name="pinCode"  ng-min="100000" ng-max="999999"  required disabled >
          </label>
          <i class="ion ion-locked lockIcon"></i>
        </div>

        <div>
          <label class=" item-input ">
            <input  type="text" placeholder="GST Number" ng-model="signupForm.gstNumber" name="gstNumber" minlength="15" maxlength="15"   >
          </label>
          <p class="error-msg" ng-show="userForm.gstNumber.$invalid">Please Enter your GST Number.</p>
        </div>

        <div>
          <label class=" item-input ">
            <input type="text" placeholder="Registered Address" ng-model="signupForm.regAddress" name="regAddress"    >
          </label>
        </div>

      </div>
    </ion-content>

    <div class="bar bar-footer signUpFooter footer-height">
      <button class="button button-block button-positive footer-font" ng-disabled="userForm.$invalid" type="submit">
        Save
      </button>
    </div>
  </form>
</ion-view>
