<ion-view title="Browse">
  <ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="cartbtn" ui-sref="app.review">
        <img src="img/9.png" alt="">
      </div>
      <span class="cartbadge">{{cartData.length || 0}}</span>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header browse-backgrndcolor">
    <div class="">

      <ion-slides options="sliderData.sliderOptions" slider="sliderData.sliderDelegate">
        <ion-slide-page ng-repeat="data in sliderData.allFeaturedProduct" ui-sref="app.requirement({productId:data._id})">
          <div class=" browse-sliderRow">
            <div class="browse-slideImgDiv">
              <img class="" ng-src="{{data.bigImage |uploadpath}}" alt="">
            </div>
          </div>
        </ion-slide-page>
      </ion-slides>
      <div class="browse-grid">
        <label for="" class="browse-text">Our Products</label>
        <div class="row" ng-if="allSubcategory.length>0" ng-repeat="category in allSubcategory" ng-init="outerIndex=$index">
          <div class="col-50 " ng-repeat="cat in category" ng-init="innerIndex=$index" ui-sref="app.browse-more({catId:cat._id})">
            <div class="browse-card1 card">
              <div class="icondiv">
                <img ng-src="{{cat.image | uploadpath}}" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
