<ion-view title="Confirmation">


  </ion-nav-bar>
  <ion-pane class="has-header ion-contentcolor">
    <div class="confirm-checkmark">
      <label class="successlbl" for="">Success!</label>
      <img src="img/tick.png" alt="">
      <label class="conirfmline" for="">We’ve received your order <br>successfully!</label>
    </div>

  </ion-pane>
  <div class="bar bar-footer signUpFooter footer-height">
    <button class="button button-block button-positive footer-font" ui-sref="app.dashboard">
    Go to Dashboard
  </button>
  </div>
</ion-view>
