<ion-view title="Confirmation">
  <!--<ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
    </ion-nav-buttons>-->

  </ion-nav-bar>
  <ion-pane class="has-header ion-contentcolor">
    <div class="confirm-checkmark">
      <label class="successlbl" for="">Success!</label>
      <img src="img/tick.png" alt="">
      <label class="conirfmline" for="">We’ve received your order <br>successfully!</label>
    </div>

  </ion-pane>
  <div class="bar bar-footer signUpFooter footer-height">
    <button class="button button-block button-positive footer-font" ui-sref="app.dashboard">
    Go to Dashboard
  </button>
  </div>
</ion-view>
