<ion-view title="Dashboard">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-bell header-bellFont disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>-->
  </ion-nav-bar>
  <ion-content class="has-header bg-dashboard">
    <ion-refresher on-refresh="reloadDashboard()">
    </ion-refresher>
    <div ng-if="plans && plans.length>0">
      <div class="dashslider">
        <flex-slider class=" " animation="slide" flex-slide="p in plans track by $index" animation-loop="false" item-margin="27"
          item-width="{{flexwidth}}" slideshow="false" maxItems="" ng-style="flexStyle">
          <li class="">
            <div class="card">
              <label for="" class="prod-name">{{p.product.name}} {{p.product.unit}} Balance</label>
              <label class="baltxt">{{p.quantity}}</label>
              <button class="button del-his-btn " ui-sref="app.deliveryhistory({productId:p.product._id})">
               Delivery History
            </button>
              <div class="cardDivide"></div>
              <div class="datediv">

                <label class="date-text" for="" ng-if="!p.deliveryRequest">We'll be in your area on</label>
                <label class="date-text" for="" ng-if="p.deliveryRequest">{{p.deliveryRequest.quantity}} {{p.deliveryRequest.productId.unit}} will be delivered on</label>
                <span class="cardDayspan" ng-if="!p.deliveryRequest">{{estimatedDate | date:'EEEE'}},</span>
                <span class="cardDate" ng-if="!p.deliveryRequest"> {{estimatedDate | date :'MMMM dd.'}}</span>
                <span class="cardDayspan" ng-if="p.deliveryRequest">{{p.deliveryRequest.scheduleDeliveryDate | date:'EEEE'}},</span>
                <span class="cardDate" ng-if="p.deliveryRequest"> {{p.deliveryRequest.scheduleDeliveryDate | date :'MMMM dd.'}}</span>

              </div>
              <button class="button card-schedule" ui-sref="app.schedule({productId:p.product._id})" ng-if="!p.deliveryRequest">
                  Schedule delivery
                </button>
              <button class="button card-cancel" ng-click="cancelDelivery(p.deliveryRequest._id)" ng-if="p.deliveryRequest">
                  Cancel delivery
                </button>
            </div>

          </li>
        </flex-slider>
      </div>

      <div class="card bmore">
        <div class="item item-text-wrap" ui-sref='app.browse'>
          Browse More Products
        </div>
      </div>
    </div>
    <div class="notPlan" ng-if="plans.length==0">
      <h4>Currently, you do not have any active plans.</h4>
      <label for="">Our plans are cheaper and <br> more convenient.</label>
      <button class="button button-medium button-assertive" ui-sref='app.browse'>
        Start Today!
      </button>
    </div>
  </ion-content>

</ion-view>
