<ion-view title="Delivery History">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
          </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header bgearn  t52">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <div class="hasorder-foot">
      <div class="" ng-repeat="delivery in deliveryData track by $index" ng-if="deliveryData.length > 0">
        <label class="earning-Date" for="">{{delivery.date |date:'MMMM dd,yyyy'}}</label>
        <div class="whtback">
          <div class="row jarpahistory">
            <div class="col-50 rel brorder">
              <div class="">
                <label for="" class="bottlename">{{delivery.product.name}}</label>

                <h4 class="balhistory" ng-if="delivery.quantityAdded">+ {{delivery.quantityAdded}} {{delivery.product.unit}}<span ng-if="delivery.quantityAdded>0">s</span></h4>
                <h4 class="balhistory" ng-if="delivery.quantityDelivered">- {{delivery.quantityDelivered}} {{delivery.product.unit}}<span ng-if="delivery.quantityDelivered>0">s</span></h4>

              </div>
            </div>
            <div class="col-50 rel">
              <div class="item-note">
                <label for="" class="bottlename">Balance</label>
                <h4 class="balhistory">{{delivery.balance}} Jars</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<ion-infinite-scroll ng-if="!stop && !refreshing" on-infinite="loadMore(true)" immediate-check="false" distance="5%">
      </ion-infinite-scroll>-->
      <div class="notAvail" ng-if="deliveryData.length==0">
        There are no deliveries to display.
      </div>
    </div>


  </ion-content>


</ion-view>
