<ion-view view-title="Help">
        <ion-nav-bar class="bar-stable schedule-bar  nav-height">
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
      </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-pane class="contact-bg">
<div class="card contact-card text-center">
    <p>For any queries</p>
    <div class="contact-hata-btn">
    <a href="tel:02233024910" class="button icon-left ion-android-call button-positive">Contact HaTa</a>
    </div>
    <div class="or-contact"><span> OR</span> </div>
    <p>Mail us at</p>
    <a href="mailto:hello@hatabevtech.com" class="helpmail">hello@hatabevtech.com</a>
</div>
  </ion-pane>
</ion-view>
