<ion-view title="Order Details">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="has-header bgearn  t52">
    <ion-refresher on-refresh="getOrders(1,true)">
    </ion-refresher>
    <div class="hasorder-foot orhistory">
      <div class="" ng-repeat="order in orderList" ng-if="orderList.length > 0">
        <div class="whtback">
          <div class="row orderdiv">
            <div class="col-40 rel">
              <div class="ordersname">
                <h4>Order {{order.orderId}}</h4>
              </div>
            </div>
            <div class="col-30 rel">
              <div ng-repeat=" pro in order.products">
                <label for="" class="history-refils">{{pro.quantity}} {{pro.product.unit}}</label>
                <label for="" class="bottlename">{{pro.product.name}}</label>
              </div>
            </div>
            <div class="col-30 rel">
              <div class="ordertotal">
                <span>₹</span>
                <label for="">{{order.totalAmount}}</label>
              </div>
            </div>
          </div>
          <div class="orderDate clearfix">
            <label for="" class="order">Order Date:{{order.createdAt | date : 'dd/MM/yy'}}</label>
            <span class="deliver" ui-sref="app.order-detail({orderId:order._id})">More Info<i class="ion ion-chevron-right " > </i></span>
          </div>
        </div>
      </div>
      <ion-infinite-scroll ng-if="!stop" on-infinite="loadMore()" distance="5%" icon="none">
      </ion-infinite-scroll>
      <div class=" notAvail " ng-if="orderList.length==0 ">
        There are no orders to display.
      </div>
    </div>


  </ion-content>


</ion-view>
