<ion-view title="Enter Your Requirement">
  <ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="browse-backgrndcolor">
    <div class="list card requirecard" ng-if="product">
      <fieldset class="item bbnone" ng-click="toggleCard()" ng-disabled="!product.planBased">
        <div class="rq-prdctname">{{product.name}} {{product.unit}}</div>
        <div class="rq-rupee">
          <label for="" class="rq-rupee" ng-show="require">₹ <span>{{product.price}}</span></label>
          <i class="ion rq-arrows" ng-class="require ? 'ion-arrow-up-b' : 'ion-arrow-down-b'" ng-show="product.planBased"></i>
        </div>
      </fieldset>
      <div ng-show="require" class="inputcard">
        <div class="require-accordion inputarea">
          <input type="tel" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13 || event.keyCode == 110 || event.keyCode == 229) ? null : (event.charCode >= 48 && event.charCode <=57) || (event.charCode >= 96 && event.charCode <=105)"
            ng-model="quantity" placeholder="Enter the Quantity" ng-change="getQuantity(null,quantity);" required>
          <div class="bbtm"></div>
        </div>
        <div class="avgTxt" ng-show="require && product.returnable">Rs {{product.depositAmount}} Deposit Per {{product.unit}}</div>
      </div>
      <div class="item" ng-show="product.planBased" ng-click="toggleCard();quantity=null">
        <div>
          <div class="rq-plan">Regular requirement? Buy a plan and save!</div>
          <div class="item-note">
            <i class="ion rq-arrows" ng-class="!require ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
          </div>
        </div>
      </div>
    </div>
    <flex-slider class="carousel " animation="slide" flex-slide="plan in product.plans track by $index" animation-loop="true"
      item-margin="10" slideshow="false" item-width="120" maxItems="" ng-if="!require">
      <li class="" ng-click="highlightPlan($index ,plan);">
        <div class="plancard" ng-class="plan.selected ? 'borderplan' : ''">
          <i class="ion ion-checkmark-circled" ng-show="plan.selected"></i>
          <h3>{{plan.quantity}}</h3>
          <label for="">{{product.unit}} Plan</label>
          <div class="rq-circle">₹ {{plan.price}}/Jar</div>
        </div>
      </li>

    </flex-slider>

  </ion-content>
  <div class="row btmnote" ng-if="!require">
    <div class="col">
      <i class="ion ion-checkmark-circled"></i>
      <label for="">Lifetime Validity</label>
    </div>
    <div class="col">
      <i class="ion ion-checkmark-circled"></i>
      <label for="">No Jar Deposit {{planQuantity}}</label>
    </div>
  </div>
  <div class="bar bar-footer nextFooter footer-height">
    <button class="button button-block button-positive footer-font" ng-click="addToCart(activePlan)" ng-disabled="activePlan==null">
      Next
    </button>
  </div>
</ion-view>
