<ion-view title="Review &amp; Checkout" class="bg-prdct">
  <ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ui-sref="app.browse">
        </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="  t52 " ng-init="remove=null" ng-class="{'hasfooterReview' : (cartData && cartData.length>0)}">
    <div class="prod-det">
      <div class="card " ng-repeat="cart in cartData" ng-if="cartData.length>0">
        <div class="item item-text-wrap pad0 disabled">
          <div class="row">
            <i class="button button-icon icon ion-ios-close-outline review-cancel" ng-click="removeProduct(cart);remove=cart"></i>
            <div class="col-33">
              <div class="producticon">
                <img ng-src="{{cart.productId.smallImage | uploadpath}}" alt="">
              </div>

            </div>

            <div class="col-66">
              <div class="details-div">
                <h2>{{cart.productId.name}} {{cart.productId.unit}}</h2>
                <div for="" class="desc" ng-if="cart.plan=='One Time'"><span class="qty">{{cart.quantity}} {{cart.productId.unit}}<span ng-if="cart.quantity>1">s</span></span><span>Rs. {{cart.productId.price}} <span ng-if="cart.productId.returnable">+ {{cart.productId.depositAmount}} Deposit</span>                  /{{cart.productId.unit}}
                  </span>
                </div>
                <div for="" class="desc" ng-if="cart.plan!='One Time'"><span class="qty">{{cart.plan.quantity}} {{cart.productId.unit}} plan</span><span>Rs. {{cart.plan.price}}/ {{cart.productId.unit}}</span></div>
                <div for="" class="desc" ng-if="cart.productId.deliveryCharge"><span class="">Delivery Charge: Rs. {{cart.productId.deliveryCharge}}/ {{cart.productId.unit}}</span></div>
                <div for="" class="deposit" ng-if="cart.productId.returnable && cart.prevDeposit >0">Existing Deposit (<label for=""><span ng-if="cart.depositStatus =='Deducted'">-</span> Rs.{{cart.prevDeposit}}</label>)</div>
                <div for="" class="total" ng-if="cart.plan=='One Time'"><span class="">Total: </span><label for="">Rs.{{(cart.quantity * cart.productId.price)+cart.deposit+cart.deliveryCharge}}</label></div>
                <div for="" class="total" ng-if="cart.plan!='One Time'"><span class="">Total: </span ><label for="" >Rs.{{cart.plan.quantity*cart.plan.price+cart.deliveryCharge}}</label></div>
              </div>

            </div>
            </div>
              <div class=" btmrow">
                <div class="btmorder " ng-if="cart.plan=='One Time' && !cart.outOfStock">Estimated Delivery: <span>{{cart.estimatedDate |date :'dd MMMM yyyy'}}</span></div>
                <div class="btmorder" ng-if="cart.plan!='One Time' && !cart.outOfStock">Schedule delivery from dashboard</div>
                <div for="" class="outOfStock" ng-if="cart.outOfStock">Proudct out of stock</div>
              </div>
            </div>
          </div>


          <div class="nocart" ng-if="cartData.length==0 ">
            <div class="imgDiv">
              <img src="img/spiderweb.png" alt="">
            </div>
            <h4>It's a little lonely here</h4>
            <button class="button button-medium button-assertive" ui-sref='app.browse'>
              Browse Products
            </button>
          </div>
          <!--<div class="row chkoutcoupon" ng-if="product.length!=0">
        <div class="col-50">
          <label for="">Enter coupon code</label>
        </div>
        <div class="col-50 chkpadip">
          <input type="text" placeholder="Type coupon code here">
        </div>
      </div>-->


        </div>
  </ion-content>
  <div class="btmtext" ng-if="cartData.length>0 ">All prices are inclusive of delivery charges</div>
  <div class="bar bar-footer row review-foot" ng-if="cartData.length>0 ">
    <div class="col addmore" ui-sref="app.browse">
      <div>Add More</div>
    </div>
    <div class="col pay button" ui-sref="app.payment({total:total})" ng-disabled="outOfStock">
      <div class="paydiv">Pay Rs. {{total}} <i class="ion ion-chevron-right"></i></div>
    </div>
  </div>
</ion-view>
