<ion-view title="Schedule Delivery">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="has-header schedule-bg">
    <div class="card jars-card list ">
      <div class="item " ng-repeat="pr in productArray track by $index">
          <label class="jar-label" for="">{{pr.name}} {{pr.unit}}</label>
        <div class="add-div" ng-if="pr.unit=='Jar'">
          <button class="ion ion-minus-circled jars-button" ng-click="pr.quantity=pr.quantity-1" ng-disabled="pr.quantity<=0"></button>
          <label class="jarcount" >{{pr.quantity}}</label>
          <button class="ion  ion-plus-circled jars-button" ng-click="pr.quantity=pr.quantity+1" ng-disabled="pr.quantity>=pr.limit"></button>
        </div>
        <div class="add-div" ng-if="pr.unit!='Jar'">
          <button class="ion ion-minus-circled jars-button" ng-click="pr.quantity=pr.quantity-1" ng-hide="pr.quantity<=0"></button>
          <label class="jarcount" ng-if="pr.quantity>0">{{pr.quantity}}</label>
          <button class="ion  ion-plus-circled jars-button" ng-click="pr.quantity=pr.quantity+1" ng-disabled="pr.quantity>=pr.limit"></button>
        </div>
      </div>
    </div>
    <div class="ionic_Calendar card">
      <div class="calendar_Date">
        <label for="" class="schedule-head">Select a Date &amp; Time</label>
        <div class="calflex">
          <flex-slider class=" " animation="slide" flex-slide="rowVal in getDateArray  track by $index" animation-loop="false" item-margin=""
            item-width="{{flexwidth}}" slideshow="false" maxItems="7">
            <li class="">
              <div class="row Daysheading DaysDisplay" ng-class="{'marginTop0':$first}">
                <div class="col-14" ng-repeat="colVal in rowVal  track by $index" ng-init="dateIndex = $index" ng-class="{ 'redsun':(dateIndex == 0), 'deliverday':(days[dateIndex].value == true && getDateStatus(colVal.fullDate) ),'notavailDate':(colVal.available == false || colVal.status==false) }">
                  <div class="" ng-if="colVal.available" ng-click="selectDate(colVal.date)">
                    <span>{{colVal.date | date:'MMM'}}</span> <br> <span class="calDate" ng-class="{'selDate':(colVal.selected == true) }">{{colVal.date | date:'dd'}}</span>
                    <br><span class="calDay">{{colVal.date | date:'EEE'}}</span>
                  </div>
                  <div class="" ng-if="!colVal.available">
                    <span>{{colVal.date | date:'MMM'}}</span> <br> <span class="calDate">{{colVal.date | date:'dd'}}</span>
                    <br><span class="calDay">{{colVal.date | date:'EEE'}}</span>
                  </div>
                </div>
              </div>
            </li>
          </flex-slider>
        </div>

        <!-- <div class="row Daysheading Daysheading_Label" style="background-color: transparent;  color: black">
          <div class="col redsun">Sun</div>
          <div class="col">Mon</div>
          <div class="col">Tue</div>
          <div class="col">Wed</div>
          <div class="col">Thu</div>
          <div class="col">Fri</div>
          <div class="col">Sat</div>
        </div> -->

      </div>
      <div class=" time-row rel timeslot">
        <div class="row no-pad " ng-init="calendarData.delivertime='8 AM to 1 PM'">
          <div class="col " ng-click="calendarData.delivertime = '8 AM to 1 PM' " ng-class="{'time-highlight' : calendarData.delivertime == '8 AM to 1 PM'}">
            8 AM to 1 PM
          </div>

          <div class=" col" ng-click="calendarData.delivertime = '1 PM to 6 PM'" ng-class="{'time-highlight' : calendarData.delivertime == '1 PM to 6 PM'}">
            1 PM to 6 PM
          </div>
        </div>
      </div>

    </div>


    <button class="button button-positive jarsch-button" ui-sref="app.thankyou">
        <!-- <button class="button button-positive jarsch-button" ui-sref='app.confirmation'> -->
      Schedule
    </button>
  </ion-content>
</ion-view>
