<ion-view title="Schedule Delivery">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="has-header schedule-bg">
    <div class="card jars-card list ">
      <div class="item ">
        <label class="jar-label" for="">{{products.product.name}} {{products.product.unit}}</label>
        <!--<div class="add-div">
          <button class="ion ion-minus-circled jars-button" ng-click="(products.deliverQuantity == products.product.minDeliverySize) ? products.deliverQuantity = null : (products.deliverQuantity = products.deliverQuantity-1) "
            ng-hide="products.deliverQuantity == null"></button>
          <label class="jarcount" ng-if="products.deliverQuantity>=products.product.minDeliverySize">{{products.deliverQuantity}}</label>
          <button class="ion  ion-plus-circled jars-button" ng-click="products.deliverQuantity ? (products.deliverQuantity = products.deliverQuantity + 1) : products.deliverQuantity = products.product.minDeliverySize"
            ng-disabled="products.deliverQuantity>=products.quantity"></button>
        </div>-->
        <div class="add-div">
          <button class="ion ion-minus-circled jars-button" ng-click="changeQuantity(-1) " ng-disabled="startRange >= products.deliverQuantity "
            ng-hide="products.deliverQuantity==null"></button>
          <label class="jarcount" ng-if="products.deliverQuantity">{{products.deliverQuantity}}</label>
          <button class="ion  ion-plus-circled jars-button" ng-click="changeQuantity(1) " ng-disabled="endRange <= products.deliverQuantity"></button>
        </div>

      </div>

    </div>

    <div class="ionic_Calendar card">
      <div class="calendar_Date">
        <label for="" class="schedule-head">Select a Date &amp; Time</label>
        <div class="calflex">
          <flex-slider class=" " animation="slide" flex-slide="rowVal in getDateArray  track by $index" animation-loop="false" item-margin=""
            item-width="{{flexwidth}}" slideshow="false" maxItems="7">
            <li class="">
              <div class="row Daysheading DaysDisplay" ng-class="{'marginTop0':$first}">
                <div class="col-14" ng-repeat="colVal in rowVal  track by $index" ng-init="dateIndex = $index" ng-class="{ 'redsun':(dateIndex == 0), 'deliverday':(days[dateIndex].value == true && getDateStatus(colVal.fullDate) ),'notavailDate':(colVal.available == false || colVal.status==false) }">
                  <div class="" ng-if="colVal.available && colVal.status" ng-click="selectDate(colVal.date)">
                    <span>{{colVal.date | date:'MMM'}}</span> <br> <span class="calDate" ng-class="{'selDate':(colVal.selected == true) }">{{colVal.date | date:'dd'}}</span>
                    <br><span class="calDay">{{colVal.date | date:'EEE'}}</span>
                  </div>
                  <div class="" ng-if="!(colVal.available && colVal.status)">
                    <span>{{colVal.date | date:'MMM'}}</span> <br> <span class="calDate">{{colVal.date | date:'dd'}}</span>
                    <br><span class="calDay">{{colVal.date | date:'EEE'}}</span>
                  </div>
                </div>
              </div>
            </li>
          </flex-slider>
        </div>
      </div>
      <div class=" time-row rel timeslot">
        <div class="row no-pad ">
          <div class="col " ng-click="scheduleData.scheduledDeliveryTime = '8 AM to 1 PM' " ng-class="{'time-highlight' : scheduleData.scheduledDeliveryTime == '8 AM to 1 PM'}">
            8 AM to 1 PM
          </div>

          <div class=" col" ng-click="scheduleData.scheduledDeliveryTime = '1 PM to 6 PM'" ng-class="{'time-highlight' : scheduleData.scheduledDeliveryTime == '1 PM to 6 PM'}">
            1 PM to 6 PM
          </div>
        </div>
      </div>

    </div>


    <button class="button button-positive jarsch-button" ng-disabled="products.deliverQuantity == null" ng-click="createDelivery()">
      Schedule
    </button>
  </ion-content>
</ion-view>
