<ion-view title="Sign up">
  <ion-nav-bar class="bar-stable nav-height">
    <!--<ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
    </ion-nav-buttons>-->
  </ion-nav-bar>
  <form ng-submit="saveUser()" name="userForm">
    <ion-content class="has-header signUpForm hasterms t54">
      <div class="radiodiv">
        <label for="" class="areyou">Please select one:</label>
        <div class="row radiocheck" type="radio">
          <ion-checkbox class="col" ng-repeat="(key,value) in userType" ng-model="signupForm.userType" ng-true-value="'{{key}}'" ng-false-value=""
            ng-disabled="lockData">
            {{value}}
          </ion-checkbox>
        </div>
      </div>

      <div class="signuppad loginform">
        <div>
          <label class=" item-input " ng-if="signupForm.userType == 'Corporate' || signupForm.userType == 'Other'">
        <input type="text" placeholder="Institution Name"  ng-model="signupForm.institutionName"  name="institutionName" ng-required="signupForm.userType == 'Corporate' || signupForm.userType == 'Other'" ng-disabled="lockData">
        </label>
          <p class="error-msg" ng-show="userForm.institutionName.$error.required && userForm.institutionName.$touched">Please Enter Your Institution Name.</p>
        </div>
        <div>
          <label class=" item-input ">
        <input type="text" placeholder="Full Name"  ng-model="signupForm.name" name="name" required ng-disabled="lockData">
        </label>
          <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Full Name.</p>
        </div>
        <div>
          <label class=" item-input ">
            <input type="email" placeholder="Email ID" ng-model="signupForm.email"  name="email" required ng-disabled="lockData">
          </label>
          <p class="error-msg" ng-show="userForm.email.$touched && userForm.email.$invalid">Please Enter your Email ID</p>
        </div>
        <div>
          <label class=" item-input ">
            <input type="text" placeholder="Mobile Number" ng-model="signupForm.registerMobile" name="mob"   disabled required >
          </label>
          <!--<p class="error-msg" ng-show="userForm.mob.$error.required && userForm.mob.$touched">Please Enter your Mobile Number</p>-->
        </div>
        <div>
          <label class=" item-input ">
            <input type="text" placeholder="Address" ng-model="signupForm.deliveryAddress" name="deliveryAddress"   required ng-disabled="lockData">
          </label>
          <p class="error-msg" ng-show="userForm.deliveryAddress.$error.required && userForm.deliveryAddress.$touched">Please Enter your Address </p>
        </div>
        <div>
          <label class=" item-input ">
            <input limit-to="6"  type="number" placeholder="Pincode"  ng-model="signupForm.pinCode" name="pinCode"  ng-min="100000" ng-max="999999"  required ng-disabled="lockData && !changePincode">
          </label>
          <p class="error-msg" ng-show="userForm.pinCode.$invalid && userForm.pinCode.$touched">Please Enter your Pincode.</p>
        </div>
      </div>
    </ion-content>

    <div class="termscheck ">
      <ion-checkbox ng-model="click" ng-init="click=true" class="ioncheck">
        <span class="ihve">I have read &amp; accepted the</span>
      </ion-checkbox>
      <div class="termsline" ng-click="terms.show($event)">
        <span class="termscolor">  Terms &amp; Conditions</span>
      </div>
    </div>


    <div class="bar bar-footer signUpFooter footer-height" ng-if="click">
      <button class="button button-block button-positive footer-font" ng-disabled="userForm.$invalid " type="submit">
        Get Started
      </button>
    </div>
  </form>
</ion-view>
