<ion-view>
  <ion-pane>
    <div class="">
      <div class="otpDiv">
        <label for="" class="otpLabel">Enter the <span class="fourdigit">4-digit OTP</span> code you <br> received through <span class="fourdigit">SMS</span></label>

        <div class="otp-verify">
          <input limit-to="4" type="number" class="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
            ng-model="otp" ng-minlength="4">
        </div>
        <button class="button button-assertive verifybtn" ng-click="verifyOtp(otp)" ng-disabled="!otp">
  VERIFY
</button>
        <button class="button button-clear button-positive resendBtn" ng-click="resenOtp()" ng-if="resend">
  Resend OTP
</button>
      </div>
    </div>
    <div class="">
    </div>
    <div class="">
    </div>
    </div>
  </ion-pane>
</ion-view>
